@import "../variables.scss";

.signup {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 35%;
  transform: translate(-50%, -50%);
  @include center_sort;
  flex-direction: column;
  gap: 30px;
}

.signup_title {
  @include center_sort;
  flex-direction: column;
  img {
    width: 15rem;
    height: 7rem;
  }
  span {
    font-size: 1.125rem;
  }
}
.signup_contents {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;

  label {
    margin-top: 15px;
  }

  input {
    height: 35px;
    border: 1px solid #dedede;
    border-radius: 5px;
    padding-left: 10px;
    margin-top: 5px;
  }

  p {
    margin: 0;
    font-size: 11px;
    color: tomato;
    padding-left: 5px;
  }
}
.signup_Btn {
  margin-top: 50px;
  background-color: $main_color;
  height: 40px;
  color: white;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 700;
}
